<h1>Membership index</h1>

<table class='table'>
  <tr>
    <th>Group Name</th>
    <th>Member Name</th>
    <th>Role</th>
  </tr>
  <% @memberships.each do |m| %>
    <tr>
      <td><%= m.group.name %></td>
      <td><%= m.member.name %></td>
      <td>(role)</td>
    </tr>
  <% end %>
</table>
