<h2>Groups:</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Controls</th>
  </tr>
  <% @artist.bands.each do |b| %>
    <tr>
      <td><%= link_to b.name, artist_path(b) %></td>
      <td>(role!)</td>
      <td><%= link_to 'Destroy ', artist_group_path(@artist,b), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan='3' class='center'>
      <%= link_to 'Add group!', new_artist_group_path(@artist) %>
    </td>
  </tr>
</table>
