<h2>Bands:</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Link</th>
  </tr>
  <% @artist.bands.each do |b| %>
    <tr>
      <td><%= b.name %></td>
      <td>(role!)</td>
      <td><%= link_to 'Show', artist_path(b) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan='3' class='center'>
      <%= link_to 'Add group!', new_artist_group_path(@artist) %>
    </td>
  </tr>
</table>
