<h2>Members:</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Controls</th>
  </tr>
  <% @artist.members.each do |m| %> 
    <tr>
      <td><%= link_to m.name, m %></td>
      <td>(eventual role)</td>
      <td><%= link_to 'Delete', artist_member_path(@artist,m), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan='3' class='center'>
        <%= link_to 'Add member!', new_artist_member_path(@artist) %>
      </td>
    </tr>
</table>
