<% provide :title, "Artists" %>
<div class='row'>
  <div class='col-md-8 col-md-push-2'>
    <center><p><%= link_to 'New Artist', new_artist_path, class: 'btn btn-primary' %></p></center>
    <input type="text" placeholder="Filter Artists..." id="filter-input" />
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
			<%= render @artists %>
      </tbody>
    </table>
  </div>
  <aside class='col-md-2 col-md-pull-8'>
    <%= render 'filter' %>
  </aside>
  <%= render 'shared/ads' %>
</div>
