<% provide :title, @artist.name %>
<div class='row'>
  <div class='col-md-6 col-md-push-3'>

    <div class='tabpanel'>
      <!-- Nav Tabs -->
      <ul id='artist-tabs' class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='active'>
          <a href='#releases' aria-controls='releases' role='tab' data-toggle='tab'>Releases</a>
        </li>
        <li role='presentation' class=''>
          <a href='#associations' aria-controls='associations' role='tab' data-toggle='tab'>Associations</a>
        </li>
      </ul>
      <!-- Tab Panels -->
      <div class='tab-content'>
        <div role='tabpanel' class='tab-pane fade in active' id='releases'>
          <%= render 'releases' %>
        </div>
        <div role='tabpanel' class='tab-pane fade' id='associations'>
          <%= render (@artist.group? ? 'members' : 'groups') %>
        </div>
      </div>
    </div>

    
  </div>
  <%= render 'sidebar' %>
  <%= render 'shared/ads' %>
</div>

