<% provide :title, "About" %>
<h2>Who is behind MelodyScout?</h2>
<p>Hi! I'm <%= link_to 'Matt Parsons', 'http://www.parsonsmatt.org'%>. I'm a music enthusiast turned software developer. Currently, I'm the only person working on the project, but that may change in the future.</p> 
<h2>What it does:</h2>
<p>I like a lot of different artists, and like any good fan, I follow them on various social media outlets. Unfortunately, all of these outlets are so noisy that I will often miss the release date of a new album. I'm hoping to stop that with this service. The MelodyScout database tracks artists and their releases, and is designed to notify you only in the event that an artist you like releases something new.</p>
<p>You'll receive, at most, one email per day letting you know when an artist you follow released something. If you want, you can specify a less frequent interval -- receiving one email per week about the week's releases seems pretty reasonable to me.</p>
<p>You can follow groups, musicians, producers -- anyone that might contribute to a release!</p>
<p>If an artist or release isn't currently in the database, feel free to add it. Like a Wiki, any registered user can create or edit anything in the database.</p>
<p>Are you an artist and you want to curate your entries? For a small fee, you can gain exclusive access to your releases, preventing anyone else from creating or modifying them.</p>

<h2>The Technical Stuff:</h2>
<p>This website was created to learn about web development and Linux administration. The code for the project is on <%= link_to 'github', 'http://github.com/melodyscout/melodyscout' %>, using Ruby on Rails for the backend and Twitter Bootstrap and jQuery for the frontend.</p>
