<% provide :title, "Contact" %>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
		<p>Send an email to <a href='mailto:hello@melodyscout.com'>hello@melodyscout.com</a></p>!
		<p>If you have questions about the website, want to report bugs or suggest features, check out the <a href="http://www.github.com/MelodyScout/MelodyScout/issues">Official Github Issues</a> page.</a>
  </div>
</div>
