<table class='table'>
  <tr>
    <th>Artist</th>
    <th>Role</th>
  </tr>
  <% @release.contributions.each do |c| %>
    <tr>
      <td><%= link_to c.artist.name, artist_path(c.artist) %></td>
      <td><%= c.role %></td>
    </tr>
  <% end %>
</table>
