<aside class='col-md-3 col-md-pull-6'>
  <table class='table'>
    <thead>
      <tr>
        <th colspan='2' class='center'>Release</th>
      </tr>
    </thead>
    <% { "Name" => @release.name,
         #"Picture" => image_tag("release.png", size: "50x50", alt: @release.name),
         "Description" => @release.description,
         "Date" => @release.release_dates.try(:first).try(:date) || 'None yet',
         "Artists" => @release.artists.count,
    }.each do |text, item| %>
    <tr>
      <td><strong><%= text %>:</strong></td>
      <td id="sidebar-<%=text.downcase%>"><%= item %></td>
    </tr>
  <% end %>
  </table>
  <p>
  <%= link_to 'Edit', edit_release_path(@release), class: 'btn btn-default' if logged_in? %>
  </p>
</aside>
