<div class="row">
  <h1>Releases</h1>
</div>
<div class='row'>
  <div class="col-md-8 col-md-offset-2">
    <center><p><%= link_to 'New Release', new_release_path, class: 'btn btn-primary', remote: true %></p></center>
      <input type="text" placeholder="Filter Releases..." id="filter-input" />
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody class="releases">
      <%= render @releases %>
      </tbody>
    </table>
  </div>
  <%= render 'shared/ads' %>
</div>

