<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Listing Releases</h1>

    <%= link_to 'New Release', new_release_path %>

    <% @releases.each do |release| %>
      <div class="col-md-3">
        <h2><%= link_to release.name, release %></h2>
        <p><%= release.description %></p>
      </div>
    <% end %>
  </div>
</div>

